@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
 
body {
  font-size: 20px; 
  overflow-x: hidden;
  
}
header {
  background-color:#CA1C2A;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height:56px;
}
header img {
  width: 22%;
  height: auto;
  display: block;
  float: left;
  margin-top: -28px;
  margin-left: -22px;
 
}

nav {
display: flex;
align-items: center;
justify-content:flex-start;
margin-left: 32%;
margin-top: 7px;
}

      
nav ul li a{
    color: #ffff;
    text-decoration:none ;
    font-weight: lighter;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 13px;
    
    
}
nav ul li{
    display: inline-block;
    padding: 0px 30px;
    
 
}
span{
  color: #e01526;;
}


a:hover{
    color: #2e71bd;
    opacity: 20px;
}
a[id="link-1"]{
  color: #000;
  opacity: 20px;
  text-decoration: none;
}
a:hover[id="link-1"]{
  color: #fafafa;
  opacity: 20px;
}
button{
  border-radius: 28px;
  padding: 9px 15px;
  background-color:  #2e71bd;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color:#ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button[id="botao-1"]{
  border-radius: 27px;
  padding: 9px 1px;
  background-color:  #1f34ad;
  margin-top: 1%;
  margin-right: 18%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color:#ffff;
  display: flex;
  cursor: pointer;
}
button[id="botao-2"]{
  border-radius: 27px;
  padding: 9px 1px;
  background-color: #1f34ad;
  margin-top: 1%;
  margin-right: 50%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color:#ffff;
  display: flex;
  cursor: pointer;
}

.Main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
  
  .Main-sobre img {
    width: 750px;
    height: auto;
    padding-left: 5%;
    padding-top: 7%;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
    
  }
  
  .text-container h1 {
    font-size: 70px;
    color: #1f34ad;
    margin-bottom: 10px;
  }
  
  .text-container h3 {
    font-size: 25px;
    color: #020001;
    margin-top: 0;

    
  }
  .teste{
    background: #191919;
    width: 100%;
    padding: 100px 0px;
    
  }
  .text-sobre {
    width: 40%;
  padding-left: 55%;
  margin-top: 3%;

  }
  
  .text-sobre h2 {
    color: #cbccd6;
    font-size: 44px;
    text-transform: capitalize;
    margin-left:30% ;
    padding-top: 20px;
   
  }
  .Icp img{
    width: 600px;
    height: auto;
    margin-left: 6%;
    margin-top: -450px;
}

  
  .text-sobre p {
    letter-spacing: 3px;
    line-height: 28px;
    font-weight: inherit;
    color: #fff;
    margin-left:30% ;
    font-size: small;
  }
  .servicos{
    width: 40%;
    padding-left: 1%;
    margin-top: 5%;
  }

  .servicos h1{
    color: #1f34ad;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: underline,#1f34ad;
 }
 .card {
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    box-shadow: 3px 3px 1px 0px #645f5fa4;
    background-color: #ffffff80;
}
p{
  font-size: 17px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.card2 p{
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 5%;
  
}
.card h2{
    font-size: 20px;
}
.card h2:hover{
    color: #2e71bd;
    opacity: 20px;
}
.card1 h2{
    font-size: 20px;
}
.card1 h2:hover{
    color: #2e71bd;
    opacity: 20px;
}
.card2 h2{
    font-size: 20px;
}
.card2 h2:hover{
    color: #2e71bd;
    opacity: 20px;
}

 .card1 {
    width: 300px;
    border: 1px solid #ccc;
    height: 464px;
    padding: 20px;
    padding-bottom: 60px;
    margin-left: 6%;
    margin-top: 2%;
    float: left;
    box-shadow: 3px 3px 1px 0px #645f5fa4;
    background-color: #ffffff80;
}
 .card2 {
    width: 300px;
    height: 472px;
    border: 1px solid #ccc;
    padding: 22px;
    padding-bottom: 50px;
    margin-left: 5%;
    margin-top: 2%;
  
    float: left;
    box-shadow: 3px 3px 1px 0px #645f5fa4;
    background-color: #ffffff80;
}
.big{
    width: 200px;
    height: auto;
    padding-top:2% ;
    margin-left: 15%;
}
.big2{
    width: 100px;
    height: auto;
    padding-top:11% ;
    margin-left: 27%;
}
.big3{
    width: 150px;
    height: auto;
    padding-top:13% ;
    margin-left: 20%;
}
.big4{
    width: 150px;
    height: auto;
    padding-top:22% ;
    margin-left: 20%;
}
.rodape {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin-top: 35%;
  height: 100px;
 
}



@media (max-width: 768px) {
  
  header{
    background-color: #fff;
  }
  header img {
    margin-top: -18px;
    margin-left: 40px;
    width: 350px;
    background-color: #fff;
  }
  button[id="botao-1"],
  button[id="botao-2"]{
  display: none;
  }
    
  

  .Main-sobre img {
   width: 350px;
   margin-left: -350px;
   margin-top: 100%;
 
  }
  .text-container h1 {
    font-size: 50px;
    color: #1f34ad;
    margin-bottom: 20px;
  }
  
  .text-container h3 {
    font-size: 20px;
    color: #020001;
    margin-top: 0;
    margin-bottom: 150px;
  }
 
 
 
  .Icp img{
   display: none;

  }
  nav {
   display: none;
  }

  .text-sobre {
    width: 80%;
    padding-left: 4%;
    margin-top: 3%;
  }

  .servicos {
    width: 80%;
    padding-left: 10%;
    margin-top: 8%;
  }

  .card,
  .card1,
  .card2 {
    width: 80%;
    margin-left: 20px;
    margin-top: 10%;
  }
 p{
  font-size: 15px;
 }
  .big,
  .big2,
  .big3,
  .big4 {
    margin-left: 20%;
  }
  .rodape {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: 600%;
    height: 100px;
   
  }
  
  .rodape p {
    margin-top: 13%;
   
  }
}